<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        {% include '/components/headerBanner.html.twig' %}

        <div class="container">
            <div class="row" id="edit-restaurant-page">
                <div class="col-md-5">
                    <div id="edit-restaurant-details">
                        <h1>Update {{restaurant.getRestaurantName}}</h1>
                        <form method="post" action="/restaurants/{{restaurant.getRestaurantId}}" id="restaurant-edit-form">
                            <input type="hidden" value="patch" name="_method">

                            <input type="hidden" name="cuisine_id" value="{{ restaurant.getCuisineId }}">

                            <label for="name">Update name:</label>
                            <input type="text" name="name" id="name" value="{{ restaurant.getRestaurantName }}"><br><br>
                            <label for="address">Update address:</label>
                            <input type="text" name="address" id="address" value="{{ restaurant.getAddress }}"><br><br>
                            <label for="keywords">Update keywords:</label>
                            <input type="text" name="keywords" id="keywords" value="{{ restaurant.getKeywords }}"><br><br>
                            <button type="submit" class="btn btn-success"><i class="fa fa-pencil-square" aria-hidden="true"></i> Update</button>
                        </form>

                        <p class="home-link"><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
            </div>
        </div>
        {% include '/components/footerBanner.html.twig' %}
    </body>
</html>
